body{
    background-color: rgb(246, 255, 215);
    margin: 0;
    font-family: 'Noto Serif KR', serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    margin-bottom: 2rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: .5rem ;
}

.form-group > label {
    color: rgb(50, 160, 187);
    font-size: .80rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.button{
    width: 75px;
    background-color: rgb(52, 172, 202);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(44, 138, 161);
}

.container{
    margin: 1rem 2rem;
}

.card-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    transform: 
        perspective(1000px) 
        rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0))
    ;
    transition: 150ms;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    --translate-y: -2px;
}

.card.flip{
    --rotate-y: 180deg;
}

.card .front,
.card .back{
    position: absolute;
    align-items: center;
    padding: 1rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .front{
    left: 0;
    width: 95%;
}

.card .back{
    transform: rotateY(180deg);
}

.word-defs {
    max-height: 215px;
    overflow-y: auto;
}

.word-def{
    padding-top: .5rem;
    padding-bottom: .75rem;
    margin-right: .75rem;
    color: rgb(0, 0, 0);
    font-size: .90rem;
    border-bottom-style: solid;
    border-width: thin;
    border-color: rgba(131, 131, 131, 0.568);
}

.word-def:first-child{
    margin-top: 0;
}

.word-def:last-child{
    border-bottom-style: none;
}

.text-box{
    padding: 0.5rem;
}

.add{
    margin-top: 1rem;
    text-align: center;
}

small{
    color: rgb(255, 55, 55);
    font-size: 11px;
    font-weight: 600;
    margin-bottom: .5rem;
}